@import '../../styles/index';

.home__title-container {
	@extend %disable-select;
	height: 85%;
	position: absolute;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	place-items: center;
	left: 55%;
	width: 32%;

	@include max-breakpoint(1650px) {
		left: 67%;
		grid-template-columns: 1fr;
		width: 15%;
	}

	@include max-breakpoint('xxlarge') {
		height: 150px;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr;
		left: 50%;
		top: 15%;
		width: 65%;
		transform: translateX(-50%);
	}

	@include max-breakpoint('large') {
		top: 20%;
	}

	@include max-breakpoint('medium') {
		width: 100%;
		padding: 0 50px;
	}

	@include max-breakpoint('xsmall') {
		height: 72px;
		padding: 0 25px;
	}
}

.home__title {
	position: absolute;
	z-index: 50;
	transition: 2s;
	width: 100%;
	height: 100%;
	overflow: hidden;

	.home__title-letter {
		font-weight: bolder;
		text-transform: uppercase;
		width: 100%;
		height: 100%;
		color: var(--colorTitle);
		font-size: rem(144px);
		opacity: 0;
		transform: translateY(100%);
		display: flex;
		justify-content: center;
		align-items: center;

		@include max-breakpoint('medium') {
			font-size: rem(108px);
		}

		@include max-breakpoint('small') {
			font-size: rem(90px);
		}

		@include max-breakpoint('xsmall') {
			font-size: rem(72px);
		}
	}

	&:nth-child(1) {
		grid-row: 1/2;
		grid-column: 1/2;
	}

	&:nth-child(2) {
		grid-row: 2/3;
		grid-column: 2/3;
	}
	&:nth-child(3) {
		grid-row: 3/4;
		grid-column: 3/4;
	}
	&:nth-child(4) {
		grid-row: 4/5;
		grid-column: 4/5;
	}
	&:nth-child(5) {
		grid-row: 5/6;
		grid-column: 5/6;
	}

	@include max-breakpoint(1650px) {
		&:nth-child(1) {
			grid-row: 1/2;
			grid-column: 1/2;
		}

		&:nth-child(2) {
			grid-row: 2/3;
			grid-column: 1/2;
		}
		&:nth-child(3) {
			grid-row: 3/4;
			grid-column: 1/2;
		}
		&:nth-child(4) {
			grid-row: 4/5;
			grid-column: 1/2;
		}
		&:nth-child(5) {
			grid-row: 5/6;
			grid-column: 1/2;
		}
	}

	@include max-breakpoint('xxlarge') {
		&:nth-child(1) {
			grid-row: 1/2;
			grid-column: 1/2;
		}

		&:nth-child(2) {
			grid-row: 1/2;
			grid-column: 2/3;
		}
		&:nth-child(3) {
			grid-row: 1/2;
			grid-column: 3/4;
		}
		&:nth-child(4) {
			grid-row: 1/2;
			grid-column: 4/5;
		}
		&:nth-child(5) {
			grid-row: 1/2;
			grid-column: 5/6;
		}
	}
}

.home {
	position: absolute;
	height: 100%;
	display: flex;
	align-items: center;
	transition: 0.5s;
	z-index: 110;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	overflow: hidden;

	@include max-breakpoint('xlarge') {
		flex-direction: column;
		justify-content: center;
	}

	@include max-breakpoint('xsmall') {
		padding: 0 25px;
	}
}

.home__content {
	padding-left: 150px;
	position: relative;

	@include max-breakpoint('xlarge') {
		padding: 0 50px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		margin: 0 0 50px 0;
	}

	@include max-breakpoint('xlarge') {
		padding: 200px 50px 0;
	}

	@include max-breakpoint('large') {
		padding: 100px 50px 0;
	}

	@include max-breakpoint('large') {
		margin: 0 0 25px 0;
	}
	@include max-breakpoint('xsmall') {
		padding: 150px 0 0;
	}
	@include max-breakpoint(320px) {
		padding: 50px 0 0;
		margin: 0 0 15px 0;
	}
}

.home__header1 {
	color: var(--colorLight);
	font: var(--fontHeader2);
	margin: 30px 0;
	letter-spacing: var(--mainLetterSpacing);

	@include max-breakpoint('xlarge') {
		text-align: center;
		margin: 20px 0;
	}

	@include max-breakpoint('medium') {
		margin: 15px 0 0 0;
	}
}

.home__header2 {
	color: lightgray;
	font: var(--fontHeader3);
	margin: 30px 0;
	letter-spacing: var(--mainLetterSpacing);

	@include max-breakpoint('xlarge') {
		text-align: center;
		margin: 20px 0;
	}

	@include max-breakpoint('medium') {
		margin: 15px 0;
	}
}

.home__header1 span {
	font: var(--fontHeader2);
	color: var(--colorMain);
	letter-spacing: var(--mainLetterSpacing);
}

.home__social-button {
	position: absolute;
	border-radius: var(--borderRadius);
	bottom: 4rem;
	right: 2rem;
	display: none;
	transition: 0.5s;
}

.home__social-button-icon {
	position: absolute;
	font-size: 4rem;
	height: 3rem;
	width: 3rem;
	cursor: pointer;
	color: var(--colorLight);
	transition: all var(--transitionDuration);
}

.home__social {
	position: absolute;
	right: 150px;

	@include max-breakpoint('xlarge') {
		position: relative;
		right: unset;
		margin-left: unset;
	}
}

.home__social-list {
	display: flex;
	flex-direction: column;
	@include max-breakpoint('xlarge') {
		flex-direction: row;
	}
}

.home__social-list-item {
	list-style: none;
}

.home__social-list-item-link {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 55px;
	text-decoration: none;
	border: var(--borderSize) solid var(--colorLight);
	border-radius: var(--borderRadius);
	margin: 10px 10px;
	padding: 5px;

	@include max-breakpoint('xsmall') {
		width: 40px;
		height: 40px;
	}
}

.home__social-list-item-link:hover {
	background: var(--colorMain);
}

.home__social-list-item-image {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
	-webkit-filter: invert(1);
	padding: 7px;
	filter: invert(1);
	mix-blend-mode: difference;

	@include max-breakpoint('xsmall') {
		padding: 0;
	}
}

.home__button {
	margin: 50px 0 0 0;

	@include max-breakpoint('large') {
		margin: 20px 0 0 0;
	}

	@include max-breakpoint(320px) {
		margin: 15px 0 0 0;
	}
}

.home__button-link {
	text-decoration: none;
}
