@import '../../styles//index.scss';

.contact-form {
	font-family: var(--fontMain);
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	transform: translate(-50%, -50%);
	color: var(--colorLight);
	width: 800px;
	display: grid;
	row-gap: 50px;
	column-gap: 30px;
	padding-top: 100px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);

	@include max-breakpoint('large') {
		width: 100%;
		padding: 100px 100px 0;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, 1fr) 195px 1fr;
	}

	@include max-breakpoint('medium') {
		row-gap: 30px;
		padding: 100px 50px 0;
	}

	@include max-breakpoint('xsmall') {
		grid-template-rows: repeat(3, 1fr) 150px 1fr;
		padding: 70px 25px 0;
	}

	@include max-breakpoint(320px) {
		row-gap: 25px;
		grid-template-rows: repeat(3, 1fr) 75px 1fr;
	}

	&.activeMobile {
		margin: 100px 0 0 0;
	}
}

.contact-form__label {
	font-weight: bold;
	font-size: rem(18px);
	background: none;
	width: fit-content;
	height: fit-content;
	height: -moz-fit-content;
	border-radius: var(--borderRadius);
	position: absolute;
	padding: 5px 10px;
	top: 12px;
	transform: translate(20px, 0);
	color: var(--colorDark);
	transition: all var(--transitionDuration) ease-out;
	z-index: 1;
	cursor: text;

	&.active {
		background: var(--colorMain);
		transform: translate(50px, -50%);
		top: 0;
		cursor: default;
	}

	&:nth-of-type(1) {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	&:nth-of-type(2) {
		grid-column: 1/2;
		grid-row: 2/3;
	}
	&:nth-of-type(3) {
		grid-column: 1/2;
		grid-row: 3/4;
	}
	&:nth-of-type(4) {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	@include max-breakpoint('large') {
		&:nth-of-type(4) {
			grid-column: 1/2;
			grid-row: 4/5;
		}
	}
	@include max-breakpoint('xsmall') {
		top: 8px;
	}
}

.contact-form__label.required {
	color: var(--colorError);

	&.active {
		color: var(--colorDark);
	}
}

.contact-form__input {
	height: 100%;
	width: 100%;
	font-size: rem(18px);
	color: var(--colorDark);
	outline: none;
	position: relative;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: var(--borderSize) solid transparent;
	transition: all var(--transitionDuration) ease-out;

	&:target,
	&:focus,
	&:active {
		border-color: var(--colorMain);
	}
}

.contact-form__input-container {
	padding: 20px 20px 10px 20px;
	background-color: var(--colorLight);
	opacity: 0.8;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--borderRadius);

	&:nth-of-type(1) {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	&:nth-of-type(2) {
		grid-column: 1/2;
		grid-row: 2/3;
	}
	&:nth-of-type(3) {
		grid-column: 1/2;
		grid-row: 3/4;
	}
	&:nth-of-type(4) {
		grid-column: 2/3;
		grid-row: 1/4;
	}

	@include max-breakpoint('large') {
		&:nth-of-type(4) {
			grid-column: 1/2;
			grid-row: 4/5;
		}
	}
}

.contact-form__input--message {
	resize: none;
	overflow: auto;
	vertical-align: top;
}

.contact-form__submit {
	grid-column: 1/3;
	grid-row: 4/5;

	@include max-breakpoint('large') {
		grid-column: 1/2;
		grid-row: 5/6;
	}
}
