@import '../../styles/index';

.button {
	border-radius: var(--borderRadius);
	text-transform: uppercase;
	background: none;
	cursor: pointer;
	outline: none;
	letter-spacing: 3px;
	padding: 20px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button__image {
	max-width: 24px;
	height: auto;
	object-position: center;
	margin-right: 10px;
}

.button__text {
}

.button--primary {
	border: none;
	color: var(--colorDark);
	background: var(--colorMain);
}

.button--secondary {
	border: var(--borderSize) solid var(--colorMain);
	color: var(--colorLight);

	&:hover {
		color: var(--colorDark);
		background: var(--colorMain);
	}
}
