@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');
@import './functions';

:root {
	//fonts
	--fontHeader2: #{rem(54px)} 'Roboto', sans-serif;
	--fontHeader3: #{rem(36px)} 'Roboto', sans-serif;
	--fontMain: #{rem(18px)} 'Roboto', sans-serif;
	--fontLogo: #{rem(36px)} 'Vampiro One', cursive;

	//colors
	--colorMain: #ffcb0c;
	--colorTitle: #ffffff30;
	--colorLight: #fafafa;
	--colorDark: #4a4a4a;

	//util
	--animationDelay: 0.6s;
	--borderRadius: 5px;
	--borderSize: 2px;
}
