* {
	font-weight: lighter;
}

:root {
	--leftWidth: 20%;
	--headerHeight: 10%;
}

h1 {
	font-size: 3.5rem;
	font-weight: lighter;
}

h2 {
	font-size: 2rem;
	font-weight: lighter;
}

h3 {
	font-size: 1.5rem;
	font-weight: lighter;
}

.header {
	position: absolute;
	width: calc(100% - var(--leftWidth));
	left: var(--leftWidth);
	height: var(--headerHeight);
	display: flex;
}

.header h1 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	top: 16px;
}

.left {
	position: absolute;
	height: 100vh;
	width: var(--leftWidth);
	background: var(--mainColor);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.left h1 {
	position: relative;
	margin: 10px 0;
}

.left h1:nth-child(1) {
	margin: 0 0 10px;
	top: 16px;
}

.left h2 {
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left h3 {
	font-size: 4rem;
	margin: 10px 0;
}

.left p {
	font-size: 2rem;
}

.divider {
	position: relative;
	height: 0.1rem;
	width: 80%;
	background: #000;
	margin: 20px 0;
}

.right {
	position: absolute;
	width: calc(100% - var(--leftWidth));
	left: var(--leftWidth);
	height: calc(100% - var(--headerHeight));
	top: var(--headerHeight);
}

.right h1 {
	padding: 10px 0 10px 5%;
}

.right p {
	font-size: 2rem;
	padding-left: 12%;
}

.languagesDiv {
	min-height: 200px;
	width: 50%;
	padding-left: 6%;
	float: left;

	h2 {
		padding-left: 12%;
	}
}

.lib_frameDiv {
	min-height: 200px;
	width: 50%;
	padding-left: 6%;
	float: left;

	h2 {
		padding-left: 12%;
		margin-bottom: 3%;
	}
}

.educationDiv {
	min-height: 200px;
	width: 50%;
	padding-left: 6%;
	float: left;
}

.educationDiv h2 {
	padding-left: 12%;
}

.educationDiv h3 {
	padding-left: 12%;
}

.educationDiv h3:nth-last-child(odd) {
	margin-bottom: 5%;
}

.educationDiv h2:nth-of-type(1) {
	margin-bottom: 3%;
}

.experienceDiv {
	min-height: 200px;
	width: 50%;
	padding-left: 6%;
	float: left;

	h2 {
		padding-left: 12%;
		margin-bottom: 3%;
	}
}