@import '../../styles//index.scss';

.home__title-container {
	@extend %disable-select;
}

.home__title {
	position: absolute;
	z-index: 50;
	transition: 2s;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 200px;
	overflow: hidden;

	.home__title-letter {
		font-weight: bolder;
		text-transform: uppercase;
		color: var(--colorTitle);
		font-size: rem(144px);
		opacity: 0;
		transform: translateY(100%);
	}

	//variables
	$topStart: 10%;
	$leftStart: 48%;
	$sumT: 15;
	$sumL: 8;
	$newTop: $topStart + $sumT;
	$newLeft: $leftStart + $sumL;

	@for $i from 1 through 5 {
		@if $i==1 {
			&:nth-of-type(#{$i}) {
				top: $topStart;
				left: $leftStart;
			}
		} @else if $i!=1 {
			&:nth-of-type(#{$i}) {
				top: $newTop;
				left: $newLeft;
			}
			$newTop: $newTop + $sumT;
			$newLeft: $newLeft + $sumL;
		}
	}
	@media screen and (max-width: 1690px) {
		$topStart: 15%;
		$leftStart: 17%;
		$sumT: 0;
		$sumL: 13;
		$newTop: $topStart + $sumT;
		$newLeft: $leftStart + $sumL;
		& {
			font-size: rem(72px);
		}
		@for $i from 1 through 5 {
			@if $i==1 {
				&:nth-of-type(#{$i}) {
					top: $topStart;
					left: $leftStart;
				}
			} @else if $i!=1 {
				&:nth-of-type(#{$i}) {
					top: $newTop;
					left: $newLeft;
				}
				$newTop: $newTop + $sumT;
				$newLeft: $newLeft + $sumL;
			}
		}
	}
	@media screen and (max-width: 930px) {
		$topStart: 15%;
		$leftStart: 10%;
		$sumT: 15;
		$sumL: 0;
		$newTop: $topStart + $sumT;
		$newLeft: $leftStart + $sumL;
		@for $i from 1 through 5 {
			@if $i==1 {
				&:nth-of-type(#{$i}) {
					top: $topStart;
					left: $leftStart;
				}
			} @else if $i!=1 {
				&:nth-of-type(#{$i}) {
					top: $newTop;
					left: $newLeft;
				}
				$newTop: $newTop + $sumT;
				$newLeft: $newLeft + $sumL;
			}
		}
	}
	@media screen and (max-width: 430px) {
		$topStart: 15%;
		$leftStart: 5%;
		$sumT: 0;
		$sumL: 18;
		$newTop: $topStart + $sumT;
		$newLeft: $leftStart + $sumL;

		& {
			font-size: rem(36px);
		}

		@for $i from 1 through 5 {
			@if $i==1 {
				&:nth-of-type(#{$i}) {
					top: $topStart;
					left: $leftStart;
				}
			} @else if $i!=1 {
				&:nth-of-type(#{$i}) {
					top: $newTop;
					left: $newLeft;
				}
				$newTop: $newTop + $sumT;
				$newLeft: $newLeft + $sumL;
			}
		}
	}
	@media screen and (max-width: 350px) {
		& {
			font-size: rem(18px);
		}
	}
}

.home {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	transition: 0.5s;
	z-index: 110;
	overflow: hidden;
}

.home.active {
	transform: translateX(-400px);
}

.home__content {
	padding-left: 150px;
}

.home__header1 {
	color: #fff;
	font: var(--fontHeader2);
	margin: 10px 0;
	letter-spacing: var(--mainLetterSpacing);
}

.home__header2 {
	color: lightgray;
	font: var(--fontHeader3);
	margin: 10px 0;
	letter-spacing: var(--mainLetterSpacing);
}

.home__header1 span {
	font: var(--fontHeader2);
	color: var(--colorMain);
	letter-spacing: var(--mainLetterSpacing);
}

.home__social-button {
	position: absolute;
	border-radius: var(--borderRadius);
	bottom: 4rem;
	right: 2rem;
	display: none;
	transition: 0.5s;
}

.home__social-button-icon {
	position: absolute;
	font-size: 4rem;
	height: 3rem;
	width: 3rem;
	cursor: pointer;
	color: #fff;
	transition: all var(--animationDelay);
}

.home__social {
	position: absolute;
	right: 150px;
}

.home__social-list {
	display: flex;
	flex-direction: column;
}

.home__social-list-item {
	list-style: none;
}

.home__social-list-item-link {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	text-decoration: none;
	border: var(--borderSize) solid #fff;
	border-radius: var(--borderRadius);
	margin: 10px 10px;
}

.home__social-list-item-link:hover {
	background: var(--colorMain);
}

.home__social-list-item-image {
	max-width: 24px;
	-webkit-filter: invert(1);
	filter: invert(1);
	mix-blend-mode: difference;
}

.home__button {
	margin-bottom: -20px;
	margin-top: 20px;
}

.home__button-link {
	text-decoration: none;
}

@media screen and (max-width: 1690px) {
	.home {
		padding: 200px 300px 100px 300px;
	}
}

@media screen and (max-width: 970px) {
	.home {
		padding: 300px 200px 100px 200px;
	}
}

@media screen and (max-width: 930px) {
	.home {
		padding: 200px;
	}
}
@media screen and (max-width: 850px) {
	.home__social {
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
	}
	.home__social-list {
		flex-direction: row;
	}
	.home {
		padding: 100px 50px 100px 200px;
	}
}

@media screen and (max-width: 700px) {
	.home {
		padding: 100px 25px 100px 200px;
	}
}

@media screen and (max-width: 550px) {
	.home__social {
		position: relative;
		width: 48px;
	}
	.home__social-list {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.home__social-list-item-link {
		border: none;
		opacity: 0;
		visibility: hidden;
		bottom: -54rem;
	}

	.home__social-button.active {
		.home__social-list-item-link {
			position: relative;
			border: var(--borderSize) solid #fff;
			opacity: 1;
			visibility: visible;
			bottom: 0;
			transition: 0.5s;
		}
		.home__social-button-icon {
			color: var(--colorMain);
		}
		.home__social {
			height: 300px;
		}
	}
	.home {
		padding: 100px 50px 100px 200px;
		overflow: hidden;
	}

	.home__social-button {
		width: 48px;
		min-height: 350px;
		display: flex;
		align-items: flex-end;
	}

	.home__social-button-icon {
		position: absolute;
	}

	.home.active {
		transform: translateX(-300px);
	}

	.home__header1 {
		font-size: 2.5rem;
	}

	.home__header2 {
		font-size: 2rem;
	}

	.home__header1 span {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 470px) {
	.home {
		padding: 100px 50px 100px 160px;
	}
	.home.active {
		transform: translateX(-250px);
	}
}

@media screen and (max-width: 430px) {
	.home {
		padding: 300px 50px 100px 50px;
		justify-content: center;
	}
}
