@import '../../styles//index.scss';

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 130px;
	display: flex;
	padding: 0 100px;
	align-items: center;
	z-index: 1000;
	transition: all var(--transitionDuration) ease-out;
	margin-bottom: 100px;

	@extend %disable-select;

	@include max-breakpoint('medium') {
		padding: 0 50px;
	}

	@include max-breakpoint('xsmall') {
		height: 100px;
		padding: 0 25px;
	}
}

.header__logo {
	position: relative;
	text-decoration: none;
	font: var(--fontLogo);
	letter-spacing: 5px;
	color: var(--colorLight);
	text-transform: uppercase;
}
