@import '../../styles//index.scss';

.contact {
	position: relative;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	z-index: 110;
	overflow: auto;
}
