@import '../../styles//index.scss';

.projects {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	z-index: 110;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	//background: rgba(255, 255, 255, 0.4);

	.projects__rightArrow-container {
		position: absolute;
		width: 48px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		right: 15%;
		z-index: 5000;

		@include max-breakpoint('xlarge') {
			right: 10%;
		}
		@include max-breakpoint('large') {
			right: 5%;
		}
		@include max-breakpoint('medium') {
			right: 13px;
		}

		@include max-breakpoint('xsmall') {
			top: 0;
			right: 0;
			height: 100vh;
		}
	}

	.projects__leftArrow-container {
		position: absolute;
		width: 48px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 15%;
		z-index: 5000;

		@include max-breakpoint('xlarge') {
			left: 10%;
		}
		@include max-breakpoint('large') {
			left: 5%;
		}
		@include max-breakpoint('medium') {
			left: 13px;
		}
		@include max-breakpoint('xsmall') {
			top: 0;
			left: 0;
			height: 100vh;
		}
	}

	.projects__leftArrow,
	.projects__rightArrow {
		display: flex;
		position: absolute;
		z-index: 300;
		height: 48px;
		width: 48px;
		cursor: pointer;
		border-radius: var(--borderRadius);

		svg {
			height: 100%;
			width: 100%;
		}

		&:hover {
			background-color: var(--colorMain);
		}

		@include max-breakpoint('xsmall') {
			height: 24px;
			width: 24px;
		}

		@include max-breakpoint(350px) {
			display: none;
		}
	}

	.projects__leftArrow svg:hover,
	.projects__rightArrow svg:hover {
		filter: invert(1);
	}

	.projects__current {
		display: flex;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 5%;
	}

	.projects__current-selection {
		position: relative;
		height: 15px;
		width: 15px;
		background: black;
		border: var(--borderSize) solid white;
		margin: 10px;
		border-radius: var(--borderRadius);
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.projects__current-selection.active::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: var(--colorMain);
		height: 100%;
		width: 100%;
	}
}
