@import "./functions";

@mixin max-breakpoint($breakpoint) {
  $breakpoints: (
    xsmall: toRem(480px),
    small: toRem(640px),
    medium: toRem(768px),
    large: toRem(1024px),
    xlarge: toRem(1392px),
    xxlarge: toRem(1530px),
  );

  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @media screen and (max-width: toRem($breakpoint)) {
      @content;
    }
  }
}
